@font-face {
    font-family: 'alien';
    
    src: url('/fonts/alienleague-webfont.eot');
    src: url('/fonts/alienleague-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/alienleague-webfont.woff2') format('woff2'),
         url('/fonts/alienleague-webfont.woff') format('woff'),
         url('/fonts/alienleague-webfont.ttf') format('truetype'),
         url('/fonts/alienleague-webfont.svg#alien_leagueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'alien_bold';
    src: url('/fonts/alienleaguebolditalic-webfont.eot');
    src: url('/fonts/alienleaguebolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/alienleaguebolditalic-webfont.woff2') format('woff2'),
         url('/fonts/alienleaguebolditalic-webfont.woff') format('woff'),
         url('/fonts/alienleaguebolditalic-webfont.ttf') format('truetype'),
         url('/fonts/alienleaguebolditalic-webfont.svg#alien_league_bold_italicBdIt') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'bebas';
    src: url('/fonts/bebas-webfont.eot');
    src: url('/fonts/bebas-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/bebas-webfont.woff2') format('woff2'),
         url('/fonts/bebas-webfont.woff') format('woff'),
         url('/fonts/bebas-webfont.ttf') format('truetype'),
         url('/fonts/bebas-webfont.svg#bebasregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'cicle';
    src: url('/fonts/newcicle-webfont.eot');
    src: url('/fonts/newcicle-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/newcicle-webfont.woff2') format('woff2'),
         url('/fonts/newcicle-webfont.woff') format('woff'),
         url('/fonts/newcicle-webfont.ttf') format('truetype'),
         url('/fonts/newcicle-webfont.svg#new_ciclefina') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'alien_it';
    src: url('/fonts/alienleaguecondital-webfont.eot');
    src: url('/fonts/alienleaguecondital-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/alienleaguecondital-webfont.woff2') format('woff2'),
         url('/fonts/alienleaguecondital-webfont.woff') format('woff'),
         url('/fonts/alienleaguecondital-webfont.ttf') format('truetype'),
         url('/fonts/alienleaguecondital-webfont.svg#alien_league_condensed_itCnIt') format('svg');
    font-weight: normal;
    font-style: normal;

}