p,a,h1,h2,h3,span{
    color:#070707;
    font-family: "aileron light";
    font-weight : normal;
    text-decoration: none;
    
}
.wrapper{
    width:95%;
    margin: 0 auto;
    overflow: hidden;
}
.header{
    width: 100%;
    margin: auto;
    height: 100px;
    padding-top: 3.3em;
    overflow: hidden;
    border-bottom: 1px solid #ECECEC;
}
.hashtag{
    width: 33%;
    height: 50px;
    padding-top: 0.5em;
    overflow: hidden;
    float: left;
    font-size: 1.4em;
    letter-spacing: 0.2em;
    text-align: left;
}
.logo{
    width: 33%;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 0.3em;
    margin: 0 auto;
    text-align: center;
    float: left;
}
.header_operations{
    width:33%;
    float: left;
    height: 50px;
}
.header_ops{
    width: 64px;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 30px;
    float: right;
    margin-right: 1em;
}
.header_ops a{
    display: block;
    width: 100%;
    height: 100%;
}
.header_ops:first-child{
    margin-right: 0;
}
.header_basket{
    background-image: url(http://i.imgur.com/0feiwQv.png);
}
.header_search{
    background-image: url(http://i.imgur.com/xThwoM7.png);
}
.header_contact{
    background-image: url(http://i.imgur.com/EUre09J.png);
}
.navigation{
    width: 100%;
    height: 60px;
    padding-top: 3em;
}
.nav-ul{
    margin: 0 auto;
    width:50%;
    height: 100%;
}
.nav-ul>li{
    float: left;
    width:33.3%;
    text-align: center;
    font-size:1.5em;
}
.sliderMid{
    width:100%;
    height: 750px;
    overflow: hidden;
        margin: 0 auto;
}
.sliderMid img{
    max-width: 100%;

}
.featured{
    width:100%;
    height: 725px;
    overflow: hidden;
}
.titles{
    width:100%;
    height: 50px;
    float: left;
    padding-top: 3em;
}
.titles h2{
    font-size: 4em;
    font-family: 'bebas';
}
.futured-product{
    width: 25%;
    height: 500px;
    overflow: hidden;
    float:left;
}
.fpLeft
{
    float: right;
}
.futured-gname{
    width: 100%;
    height: 70px;
    padding-top: 4em;
}
.futured-gname h3{
    font-size: 2em;
    text-align: center;
}
.futured-image img{
    max-width: 100%;
}
.futured-product a{
    display: block;
    width: 100%;
    height: 100%;
}
.futured-product-mid{
    width: 25%;
    height: 500px;
    overflow: hidden;
    float: left;
    margin-left: 11em;
    margin-top: -6em;
}
.futured_slogan{
    width: 60%;
    height: 80px;
    padding-top: 2em;
    /* overflow: hidden; */
    float: left;
}
.futured_slogan p{
    font-family: "alien league";
    font-style: italic;
    font-size:3.6em;
}
.more-btn{
    float: right;
    width: 19%;
    border: 1px solid #b7b7b7;
    height: 75px;
    margin-top: 2em;
    margin-right: 3em;
}
.more-btn a{
    display: block;
    width: 100%;
    height: 100%;
    font-family: 'bebas';
    font-size: 2em;
    line-height: 2.7em;
    text-align: center;
    color: #b7b7b7;
}
.onStreets{
    width: 100%;
    height: 350px;
    position: relative;
}
.onStreets img{
    max-width: 105%;
}
.onStreets h4{
    text-align: center;
    font-size: 5em;
    font-family: 'bebas';
    //letter-spacing: 0.2em;
    line-height: 1.5em;
}
.streetMid{
    width: 33%;
    background: white;
    position: relative;
    z-index: 5;
    height: 100%;
    margin:0 auto;
    -webkit-clip-path: polygon(18% 0%, 82% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}
.streetSliders{
    width: 40%;
    height: 100%;
    z-index: 2;
    position: absolute;
    left: 0;
    top:0;
    overflow: hidden;
    float: left;
}
.streetSlidersRight{
    width: 40%;
    height: 100%;
     z-index: 2;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    overflow: hidden;
    float: left;
}
.about-brief{
    width:100%;
    height: 550px;
    overflow: hidden;
}
.about-brief h2{
    float: right;
}
.text{
    width: 100%;
    height: 300px;
    overflow: hidden;
    padding-top: 2em;
    letter-spacing: 0.04em;
}
.text p {
    width: 100%;
    text-align: left;
    color: #000000;
    /* font-weight: 400; */
    line-height: 1.5em;
    font-size: 1.3em;
    /* letter-spacing: 2px; */
}
.btn-about{
    float:none;
    margin: 0 auto;
}
.footer{
    width:100%;
    height: 60px;
    background: black;
}
.footer-ul{
    margin: 0 auto;
    width:30%;
    height: 100%;
    float: left;
}
.footer-ul>li{
    float: left;
    width:25%;
    text-align: center;
    font-size:1.5em;
    color:#fff;
    margin-top: 17px;
}
.footer-ul a{
 color:#fff;   
}
.social-media-container{
    width: 40%;
    height: 100%;
    overflow: hidden;
    float: left;
}
.social-media{
    width: 50px;
    height: 50px;
    margin-right: 2em;
    background: white;
    
    border-radius: 50%;
    border: 2px solid black;
    float: left;
}
.social-inner{
    width:42%;
    margin: 0 auto;
    height: 100%;
    margin-top:5px;
}
.social-media:last-child{
    float:left;
    margin:0;
}
.social-media a {
    width: 100%;
    height: 100%;
    display: block;
}
.gp{
    background-image: url(http://i.imgur.com/zHveJ73.png);
    background-position: center;
}
.fb{
    background-image: url(http://i.imgur.com/sTaiv6q.png);
    background-position: center;
}
.tw{
    background-image: url(http://i.imgur.com/oWQRyyP.png);
    background-position: center;
}
.dev{
    float: right;
    width: 24%;
    height: 100%;
}
.dev p{
    color:white;
    margin-top: 38px;
    display: block;
    float: left;
}
.dev h5{
    color: white;
    margin-top: 27px;
    display: block;
    float: left;
    font-family: 'bebas';
    margin-left: 14px;
    font-size: 2em;
}
.product-wrapper{
    width:100%;
    min-height:500px;
    overflow:hidden;
    padding-bottom:2em;
}
.product-frame{
    width: 30%;
    height: 480px;
    float: left;
    margin-right: 4em;
    overflow: hidden;
    margin-bottom: 40px;
}
.product-name{
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 1.4em;
    font-size: 1.3em;
    margin: 10px 0px;
    overflow:hidden;
}
.product-price{
     width: 100%;
    height: 40px;
    text-align: center;
    line-height: 1.4em;
    font-size: 1.3em;
    overflow:hidden;
}
.product-image img{
    max-width: 100%;
}
.product-frame:nth-child(3n)
{
    margin-right: 0;
}
.product-detail-wrapper{
    width:100%;
    margin : 0 auto;
    margin-top:2em;
    overflow:hidden;
    height:800px;
    
}
.product-detail-frame
{
    
     width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
}

.product-detail-image
{
    width: 50%;
    height: 100%;
    overflow: hidden;
    float: left;
    
}
.product-detail-name{
    
        width: 48%;
    height: 100px;
    float: right;
    text-align: left;
    font-family: "Alien League";
    clear: right;
     overflow: hidden;
}
.product-detail-price
{
    width: 48%;
    height: 64px;
    float: right;
    text-align: left;
    font-family: "Alien League";
    clear: right;
    overflow: hidden;
}
.product-detail-info{
    width: 48%;
    height: 400px;
    float: right;
    text-align: left;
    font-family: "Alien League";
    clear: right;
    overflow: hidden;
    
}
.product-detail-info p{
    
font-family: "Aileron light";
    font-size: 1em;
    line-height: 3em;
    /* font-weight: bold; */
    letter-spacing: 0.2em;
    color: #333333;
}
.pdName{
    
    font-family: "alien league II";
    font-size: 3em;
    font-style: italic;
    /* font-weight: bold; */
    letter-spacing: 0.2em;
    color: #333333;
}
.pdPrice
{
    font-family: "alien league II";
    font-size: 4em;
    font-style: italic;
    /* font-weight: bold; */
    letter-spacing: 0.2em;
    color: #333333;
}
.order{
    border: 1px solid #b3b3b3;
    width: 40%;
    float: right;
    margin-right: 4em;
    text-align: center;
    line-height: 4em;
    height: 70px;
    cursor: pointer;
}
.order a{
    display:block;
    width:100%;
    height:100%;
    font-family: "alien league II";
    font-size: 2.5em;
    font-style: italic;
    /* font-weight: bold; */
    letter-spacing: 0.2em;
    color: #333333;
    
}
.orderFrame{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.orders{
    width: 100%;
    height: 200px;
    overflow: hidden;
    margin-top : 2em;
    border-bottom: 1px solid #ECECEC;
}
.ordersName{
    width: 50%;
    height: 50%;
    float: left;
    clear:left;
      overflow: hidden;
}
.ordersName span{
     font-family: "alien league II";
    font-size: 2em;
    font-style: italic;
    /* font-weight: bold; */
    letter-spacing: 0.2em;
    color: #333333;
    
}
.ordersPrice{
    width: 50%;
    height: 50%;
    float: left;
    clear:left;
    overflow: hidden;
}
.ordersPrice span{
     font-family: "alien league II";
    font-size: 2em;
    font-style: italic;
    /* font-weight: bold; */
    letter-spacing: 0.2em;
    color: #333333;
    
}
.ordersImage{
    width: 20%;
    height: 100%;
    float: right;
}
.ordersImage img{
    max-width: 100%;
    max-height: 100%;
    float: right;
}
.ordersRemove{
    width: 30px;
    float: right;
    margin-top: 10px;
    text-align: center;
    height: 30px;
    background-image: url(http://i.imgur.com/iarQ5sR.png);
    background-size: 100%;
    background-repeat: no-repeat;
    cursor : pointer;
    
}
.ordersRemove a{
   display: block;
    width:100%;
    height: 100%;
    color: #333333;
    
}
.ordersPlace{
    width: 250px;
    height: 60px;
    border: 1px solid #ECECEC;
    margin: 30px auto;
    text-align: center;
    line-height: 60px;
    cursor : pointer;
}
.ordersPlace a{
   display: block;
    width:100%;
    height: 100%;
    color: #636363;
     font-family: "alien league II";
    font-size: 2em;
    font-style: italic;
    
}
.psubinfo {
    font-family: "alien league II" !important;
    font-size: 0.7em !important;
    font-style: italic !important;
    /* font-weight: bold; */
    letter-spacing: 0.2em;
    color: #ECECEC !important;
    
}
.orderCount{
    width: 27%;
    height: 100%;
    float: right;

    
}
.countLabes{
display: block;
    width: 70%;
    float: left;
    font-family: "alien league II";
    font-size: 2em;
    font-style: italic;
    /* font-weight: bold; */
    letter-spacing: 0.2em;
    color: #333333;
    
}
.orderInfoframe{
    width: 99%;
    margin: auto;
    height: 50%;
}
.countValues{
   display: block;
    width: 30%;
    float: right;
    font-family: "alien league II";
    font-size: 2em;
    font-style: italic;
    /* font-weight: bold; */
    letter-spacing: 0.2em;
    color: #333333;
    
}
.listTable{
       margin: 20px auto;
    border: 1px solid #ECECEC;
    min-height: 200px;
    width: 80%;
    text-align: center;
    padding:50px;
    font-family: "aileron light";
}
.tableTitle{
    
        width: 100%;
    height: 50px;
    font-family: "alien league";
    font-size: 3em;
}
.TableListRows{
     margin-top: 50px;
    height: 100%;
    width: 100%;
}
.tableListRow{
    width: 100%;
    height: 80px;
}
.tValues{
    
    display: block;
    width: 100%;
    height: 100%;
    float: right;
    font-family: "alien league II";
    font-size: 2em;
    font-style: italic;
    /* font-weight: bold; */
    letter-spacing: 0.2em;
    color: #333333;
}
.searchForm{
    width: 100%;
    height: 97%;
    text-align: left;
    margin: auto;
    margin-top: 5px;
    margin-left: 10px;
    font-family: "aileron light";
    font-size: 2em;
    font-style: normal;
    /* font-weight: bold; */
    letter-spacing: 0.2em;
    color: #333333;
    float: left;
    display: block;
}
.searchLable{
    
    letter-spacing: 0;
    font-size: 0.8em;
    color: #333333;
    font-weight: normal;
    font-family: "aileron light";
}
.searchBox{
border: 1px solid #ECECEC;
    width: 73%;
    font-size: 0.5em;
    padding: 0px 5px;
    color: #949494;
    height: 90%
}
.searchBTN{
    background-color: white;
    background-image: url(http://i.imgur.com/xThwoM7.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    float: right;
    width: 50px;
    height: 43px;
    
}
.header_search
{
    background: none;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 1em ;
font-style: italic;
}
::-moz-placeholder { /* Firefox 19+ */
    font-size: 1em !important;
font-style: italic;
}
:-ms-input-placeholder { /* IE 10+ */
    font-size: 1em;
font-style: italic;
}
:-moz-placeholder { /* Firefox 18- */
    font-size: 1em;
font-style: italic;
}
.header_search{
    width:270px;
    background-position: right center;
    margin-right: 45px;
    
}
.header_basket{
    background-position: left center;
}
.not_found{
width:100%;
height:100%;
padding-top:50px;
text-align : left;
}
.Alert{
width:100%;
height:100%;
padding-top:50px;
text-align : left;
}
.Alert p{
font-family: "alien league";
    font-size: 6em;
    font-style: italic;
    color: #969696;
}
.not_found p{
font-family: "alien league";
    font-size: 6em;
    font-style: italic;
    color: #969696;
}
.contactInputs{
border: 1px solid #ECECEC;
    width: 95%;
    font-size: 1.5em;
    margin-top: 25px;
    font-family: "aileron light";
    height: 80px;
    padding: 0 10px;
    color: #7b7b7b;
}
.contactLables{
    letter-spacing: 0;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1.8em;
    color: #7b7b7b;
    font-weight: normal;
    font-family: "aileron light";
    /* float: left; */
    margin: auto;
    clear: both;
    margin-top: 25px;
}
.contact{
    
        width: 50%;
    height: 800px;
    margin: auto;
    overflow: hidden;
}
.txtBox{
    
    height: 210px;
    padding-top: 5px;
    padding-bottom: 5px;
    resize: none;
}
.submitBTNC{
    border: 1px solid #ECECEC;
    width: 100%;
    background: none;
    cursor: pointer;
    font-size: 1.5em;
    margin-top: 25px;
    font-family: "aileron light";
    height: 80px;
    padding: 0 10px;
    color: #7b7b7b;
}
.about p{
    letter-spacing: 0.7px;
    line-height: 3em;
}
.ordersPlace{
    
  background: none;
    display: block;
    margin: auto;
    width: 100%;
    height: 85px;
    border: 1px solid #ECECEC;
    margin: 30px auto;
    text-align: center;
    line-height: 100%;
    cursor: pointer;
    font-family: "aileron light";
    font-size: 2em;
    color: #7b7b7b;

}
